---
pagination:
  data: collections.posts
  size: 5
  alias: list
  reverse: true
permalink: '<% if (pagination.pageNumber > 0) { %><%= `page${pagination.pageNumber + 1}/index.html` %><% } else { %>index.html<% } %>'
eleventyComputed:
  title: '<% if (pagination.pageNumber > 0) { %><%= `Page ${pagination.pageNumber + 1} | ${site.title}` %><% } else { %><%= site.title %><% } %>'
---

<ul>
  <% list.forEach((post) => { %>
  <li class="mb-3 flex justify-between">
    <a href="<%= post.url %>"><%= post.data.title %></a>

    <div><%= this.dateFns.format(new Date(post.data.date), 'LLLL d, yyyy') %></div>
  </li>
  <% }) %>
</ul>

<div class="text-sm flex justify-between">
  <% if (pagination.previous) { %>
  <div>
    <a href="<%= pagination.previous.replace(/index.html$/, "") %>">← Newer Posts</a>
  </div>
  <% } %> <% if (pagination.next) { %>
  <div class="text-right ml-auto">
    <a href="<%= pagination.next.replace(/index.html$/, "") %>">Older Posts →</a>
  </div>
  <% } %>
</div>
